/* 
=============================================================================
BRAND COLORS
========================================================================== */
$honeycomb: 	#e9ba26;
$clementine: 	#f0812b;
$slushie: 		#5fb8dd;
$frosting: 		#ea0b86;

$aloe: 			#50886b;
$berry: 		#508395;
$wasabi: 		#9eae3d;
$grape: 		#92278f;
$spice: 		#eb4845;
$wine: 			#832e2f;
$whale: 		#262626;
$prince: 		#544aa1;
$LSpink: 		#ed3f6e;

/* 
=============================================================================
FONT COLORS
========================================================================== */
$link_color: 			#0088cc;
$body_copy_color:   	#808080;
$body_copy_color_light: #979797;
$body_headings_color:  	#5b5b5b;

$small_heading_color:  	#474747;
$headings_light: 		#999999;

$white_with_alpha:    	rgba(255,255,255,.5);

/* 
=============================================================================
BACKGROUNDS
========================================================================== */
$background_grey: 	#eeeeee;
$button_color: 		#5fb8dd;

/*Social Media Backgrounds */
$facebook_blue: 		#3a589b;
$twitter_blue:			#598dca;
$googleplus_red:		#d6492f;
$dribbble_pink:			#ea4c89;
$instagram_blue:        #3f729b;

/* 
=============================================================================
BORDERS
========================================================================== */
$border_grey: 		#cccccc;


