/* ===============================
    Grid based on the 960 grid
    Gutters: 20px;
    Width of 12 columns: 940px;
==================================*/

/* Gutter */
$gutterWidth: 		  2.127659574%;

/* Grid Columns */
$grid_1of12cols: 	  6.382978723%;
$grid_2of12cols:  	 14.893617021%;
$grid_3of12cols: 	 23.404255319%;
$grid_4of12cols: 	 31.914893617%;
$grid_5of12cols: 	 40.425531914%;
$grid_6of12cols: 	 48.936170212%;
$grid_7of12cols: 	 57.446808510%;
$grid_8of12cols: 	 65.957446808%;
$grid_9of12cols: 	 74.468085106%;
$grid_10of12cols: 	 82.978723404%;
$grid_11of12cols: 	 91.489361702%;
$grid_12of12cols: 	100%;

